/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/vendor_old
/vendor_new
/.idea
/.vagrant
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/public/*.print
/public/log/*
/nbproject/private/

.bash_history
.bash_logout
.bash_profile
.bashrc
.mc/
.ssh/
.viminfo
.htaccess
/public/uploads/
#/public/vendor/
/public/webhook.php

#/public/js/langs.js
#/public/js/langs_ua.js
#/public/js/langs_en.js

composer.lock
composer.lock_old
composer.lock_new

/server/php_errors.log

php_errors.log

nbproject

#/public/main.php
#/public/index.php

/public/uploads
/public/vendor/crudbooster

.git-ftp-tmp

/storage/data/*
!storage/data/index.html

/storage/tmp/*
!storage/tmp/index.html

/install.sh

/public/robots.txt
/public/sitemap.xml
